:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg: #392467;
  --primary-text: #FFD1E3;
  --secondary-bg: #A367B1;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.button-base {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}

.primary-button {
  background: var(--primary-bg);
  color: var(--primary-text);
}

.secondary-button {
  background: var(--secondary-bg);
  color: var(--primary-text);
}

.button-base:hover {
  border-color: #646cff;
}

.input {
  padding: 13px 15px;
  border: 1px solid var(--primary-bg);
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-bg);
  font-style: italic;
  margin: 10px 0;
}

input::placeholder {
  color: var(--primary-bg);
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 500px;
  background: var(--primary-bg);
  border-radius: 5px;
  box-shadow: 4px 4px 14px var(--primary-bg);
}